<% include partials/header %>
<style>
p, h1, h2{
    text-align: center
}
img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profilepic{
    background-color: #ea694e;
    padding: 10px;
}

i{
    color: #6868aa;
    position: relative;
    left: 270;
}
</style>
<body>
<main>
<div class="profilepic">
<img src=<%= currentUser.profilePicture %> name="profilePicture">
<a><i class="fas fa-edit"></i></a>
</div>
<h1><%= currentUser.firstName%> <%= currentUser.lastName%></h1>
<p><%= currentUser.userName%></p>
<p><%= currentUser.genres%></p>
<h2>Description</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
Aenean commodo ligula eget dolor. Aenean massa. </p>

</main>
<% include partials/footer %>


